body {
    max-width: 100%;
    height:100%;
    background-color:#184a45ff ;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}
h1{
    font-size: 4em;
    color: #f7766aff;
    /*text-align: center;*/
}
h2 {
    color: #f7766aff; 
    margin-bottom: 1em;
    clear: both;
    text-align: center;
}
.hide {
    display: none;
}
.disable{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
}
li.option {
    list-style-type:none;
    width: 50%;
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
button {
    display: block;
    background-color:  #f7766aff;
    text-decoration: none;
    padding: 1em;
    width: 30%;
    border-radius: 15px;
    margin-bottom: 1em;
    font-size: 1em;
    text-align: center;
    color:#184a45ff;
    outline: none;
}
.btn {
    margin-left:38% ;
  
}
      
a {
    text-decoration:none;
}
input {
    display: block;
    padding: 10px;
    width: 29%;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
    text-align: center;
    align-items: center;
    margin-left:34%;   
}
.label{
    text-align:center;
}
.bg-gray {
    width:fit-content;
    background-color: #fcf6f5ff;
    padding: 2em;
    border-radius: 15px;
    border: 8px dotted gray;
    margin-top: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}